.navBar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7vh;
    background: royalblue;
}

.header {
    color: white;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}
