*{
    /*border: red solid 2px;*/
    box-sizing: border-box;
}

.resWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 100%;
}

table{
    width: 60%;
    border-bottom: solid cornflowerblue 3px;
    border-radius: 5px;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
}

th{
    background: cornflowerblue;
}

td, th{
    border-radius: 3px;
}
